.App {
  text-align: center;
}

.grid {
  /* height: 100vh; */
  display: flex;
}

.one, .two{
  flex: 1;
  padding: 3rem;
}

.one {
  padding-left: 18rem;
}

.two {
  padding-right: 40rem;
}

.each_null {
  border: solid 1px black;
  height: 80px;
  width: 80px;
  background-color: #EDEBF9
}
